@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
    --primary-color: red;
    --background-color: #141516;
    --background-color-box: rgba(239, 230, 204, 0.4);
    --border-color: #efe6cc;
    --primary-btn: #0897B4;
    --secondary-btn: #BF264F;
    --neon-color: #0897B4;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #F7F7F7;
    min-height: 100vh;
    width: 100%;
    font-size: 16px;
    background-color: var(--background-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), 
        url("https://images.pexels.com/photos/14856414/pexels-photo-14856414.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Varela Round", sans-serif;
}

.none {
    display: none;
}

/* 
    Loader
*/

.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 10000;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--background-color);
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 200px;
    height: 200px;
    margin: 8px;
    border-radius: 50%;
    border: 0.2rem solid #fff;
    border-color: #fff #afafaf #fff #afafaf;
    animation: lds-dual-ring 1.2s linear infinite;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #fff,
        0 0 0.8rem #fff,
        0 0 2.8rem #fff,
        inset 0 0 1.3rem #fff;
}

.loader p {
    color: #fff;
    margin-top: 50px;
    font-size: 2rem;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.title {
    text-align: center;
    margin: 2rem;
    font-size: 3.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 3px pink;
}

.info-container {
    background-color: var(--background-color-box);
    padding: 10px;
    border: solid 2px var(--border-color);
    border-radius: 15px;
    margin: 1rem;
}

.date-form {
    width: 600px;
    background-color: var(--background-color-box);
    padding: 10px;
    border: solid 2px var(--border-color);
    border-radius: 15px;
    margin: 1rem;
}

.date-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info-container form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.info_form_div {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
}

.info_input {
    max-width: 600px;
    background: rgba(20, 21, 22, 0.7);
    border: solid 2px var(--border-color);
    border-radius: 15px;
    color: #fff;
    margin: 0.5rem 0;
    padding: 0.375rem 0.75rem;
}

.quotation-section {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 25px 25px;
}

.quotation-container {
    width: 600px;
    min-height: 500px;
    background-color: var(--background-color-box);
    padding: 25px;
    border: solid 2px var(--border-color);
    border-radius: 15px;
    margin: 1rem;
}

/* 
    Form
*/

.quotation_form_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
}

.quotation_input {
    max-width: 600px;
    background: rgba(20, 21, 22, 0.7);
    border: solid 2px var(--border-color);
    border-radius: 15px;
    color: #fff;
    margin: 0.5rem 0;
    padding: 0.375rem 0.75rem;
}

.quotation_btn .btn {
    background: rgba(20, 21, 22, 0.7);
    border: solid 2px var(--primary-btn);
    border-radius: 15px;
    color: #fff;
}

.quotation_btn .btn:hover {
    background: var(--primary-btn);
}
.quotation_btn .btn:focus {
    background: var(--primary-btn);
}


.trashIcon {
    color: red;
}

/* 
    Purchase Info
*/

.purchase_section {
    display: flex;
    flex-direction: column;
}

.purchase_btn_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.purchase_btn {
    background: rgba(20, 21, 22, 0.7);
    border-radius: 15px;
    color: #fff;
}

.generatePDF_btn {
    border: solid 2px var(--primary-btn);
}

.generatePDF_btn:hover {
    background: var(--primary-btn);
}

.generatePDF_btn:focus {
    background: var(--primary-btn);
}

.restartBtn {
    border: solid 2px var(--secondary-btn);
}
.restartBtn:hover {
    background: var(--secondary-btn);
}

.restartBtn:focus {
    background: var(--secondary-btn);
}

.purchase_table thead {
    border-bottom: solid 2px var(--border-color);
}

.purchase_table th{
    text-align: center;
    padding: 5px 10px;
}

.purchase_table td{
    text-align: center;
    padding: 5px 10px;
}

/* Whatsapp Message */

.whatsappMessageText {
    background: rgba(20, 21, 22, 0.7);
    border: solid 2px var(--border-color);
    border-radius: 15px;
    color: #fff;
    margin: 0.5rem 0;
    padding: 1rem;
}



.quotationImg {
    display: flex;
    flex-direction: column;
    width: 21.59cm; /* Set content width to 21.59 cm */
    height: 27.94cm; /* Set content height to 27.94 cm */
    background-color: #fff;
    color: #000;
}

.quotationImg-header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.quotationImg-header > span {
    text-align: end;
    margin: 2rem;
}

.quotationImg-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
}

.quotationImg-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

.quotationImg-body > h2 {
    text-align: center;
    margin: 1rem 0 2rem;
}

.quotationImg-body thead {
    border-bottom: 1px solid rgb(160 160 160);
}

.quotationImg-body thead th {
    padding-bottom: 0.5rem;
}

.quotationImg-body tbody td{
    padding: 0.5rem 0;
}

.quotationImg-body tfoot {
    border-top: 1px solid rgb(160 160 160);
}
  
.quotationImg-body tfoot td {
    padding-top: 1rem;
    font-weight: bold;
}

.quotationImg-footer {
    text-align: center;
    margin-top: auto;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 0;
}

